<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.comentario.home.title">Comentarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comentario" [routerLink]="['/comentario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.comentario.home.createLabel">
            Create a new Comentario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comentarios?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.comentario.home.notFound">No comentarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comentarios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.comentario.comentario">Comentario</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.comentario.valoracion">Valoracion</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.comentario.book">Book</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comentario of comentarios ;trackBy: trackId">
                    <td><a [routerLink]="['/comentario', comentario.id, 'view']">{{ comentario.id }}</a></td>
                    <td>{{ comentario.comentario }}</td>
                    <td>{{ comentario.valoracion }}</td>
                    <td>
                        <div *ngIf="comentario.book">
                            <a [routerLink]="['/book', comentario.book?.id, 'view']" >{{ comentario.book?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comentario', comentario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comentario', comentario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comentario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
