<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.editorial.home.title">Editorials</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-editorial" [routerLink]="['/editorial/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.editorial.home.createLabel">
            Create a new Editorial
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="editorials?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.editorial.home.notFound">No editorials found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="editorials?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.editorial.name">Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let editorial of editorials ;trackBy: trackId">
                    <td><a [routerLink]="['/editorial', editorial.id, 'view']">{{ editorial.id }}</a></td>
                    <td>{{ editorial.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/editorial', editorial.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/editorial', editorial.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(editorial)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
